.card-header:hover {
    background-color: #eee; cursor: pointer;
}
.nazk-collection-results {
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.nazk-collection-item {
    padding: 2px 0;
}
.nazk-collection-item:hover {
    cursor: pointer;
}
.nazk-year-badge {
    position: fixed;
    z-index: 300;
    top: 0px;
    left: 50px;
    padding: 0px 12px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 0px 0px 4px 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: coral;
    color: whitesmoke;
}
.nazk-nav-item {
  position: relative;
  color: white;
  cursor: pointer;
}
.nazk-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  
  display: none; 
  min-width: 200px;
}
.nazk-nav-item:hover .nazk-dropdown {
  display: block;
}
.nazk-dropdown div a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.nazk-box-blinking {
  background-color: transparent;
}
.nazk-box-blinking.animate-blink {
  animation: blink 0.5s ease-in-out;
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #d1dee9;
  }
  100% {
    background-color: transparent;
  }
}
.nazk-USD {
    color: rgb(82, 146, 82);
    font-size: 80%;
}
.nazk-EUR {
    color: rgb(151, 108, 108);
    font-size: 80%;
}
.nazk-UAH {
    color: inherit;
}